/* spearker item layout */

.speaker-wrapper {
  margin-bottom: 0;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

/* speaker item content */

figure {
  margin-bottom: 0;
  text-align: center;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 180px;

  img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

}

.speaker-info {
  text-align: left;
  padding: 20px 16px;
  // root color에 없음. #EFEFEF와 color가 비슷한 색으로 대체
  background: var(--gray5);
  max-height: 148px;

  >p {
    margin-bottom: 2px;
    font-size: 1.25rem;
  }

  span {
    display: inline-block;
  }

  .item-name {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    word-break: break-all;
    line-height: 1.2em;
    height: 2.4em;
    margin-bottom: 4px;
    &.center {
      text-align: center;
    }
  }

  .item-company {
    line-height: 1.25rem;
    height: 2.5rem;
  }

  .item-speaker-title {
    display: block;
    font-size: 1.16rem;
    word-break: break-all;
  }
}


.modal.detail-modal .modal-content
.modal-body {
  overflow: auto;

  /*modalcontent*/

  figure.speakers {
    text-align: center;

    .photo {
      display: flex;
      padding: 24px;
    }

    figcaption {
      padding: 0;
      background: var(--white);
      text-align: left;
    }
  }

  a {
    display: block;
  }

  .image-wrapper {
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 16px;
  }

  .item-info {
    text-align: left;

    > p {
      font-size: 1.25rem;
      margin-bottom: 8px;
    }

    .item-name {
      margin-bottom: 8px;
      font-size: 1.33rem;
      font-weight: bold;
      text-align: left;
    }


    .item-company-title {
      display: inline-block;
      font-size: 1.16rem;
    }

  }

  .item-desc {
    padding: 24px;
    font-size: 1.33rem;
    border-top: 2px solid var(--gray16);

    & > p {
      margin-bottom: 0;
      word-break: break-all;;
    }
  }
}

@media (max-width: 575px) {
  .modal.detail-modal .modal-content .modal-body {
    .image-wrapper {
      flex: 0 0 40%;
      max-width: 40%;
    }
  }

}
