<div class="speaker-wrapper" >
  <figure>
    <div class="image-wrapper" [style.backgroundImage]="'url('+speaker.photoUrl+')'">
      <!-- <img [src]="speaker.photoUrl" alt="speaker.name"> -->
    </div>
    <figcaption class="speaker-info">
      <p class="item-name ellipsis line">
        {{speaker.fullName || ''}}&nbsp;
      </p>
      <p class="item-company ellipsis line">
        {{speaker.company || ''}}&nbsp;
      </p>
      <span class="item-speaker-title ellipsis">
        {{speaker.title || ''}}&nbsp;
      </span>
    </figcaption>
  </figure>
</div>
