<div class="timetable">
  <p class="timetable-label">(K): Korean Session</p>
  <table class="program" #table1>
    <colgroup>
      <col style="width:12%">
      <col style="width:22%">
      <col style="width:22%">
      <col style="width:22%">
      <col style="width:22%">
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th #th1>Channel A<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 0)"></div>
        </th>
        <th>Channel B<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 1)"></div>
        </th>
        <th>Channel C<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 2)"></div>
        </th>
        <th>Channel D<div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 3)"></div>
        </th>
      </tr>
      <tr>
        <td class="time">Time / Session</td>
        <td class="m type02">Clinical diabetes and therapeutics / Diabetic complications / Epidemiology</td>
        <td class="m type01">Behavioral medicine / Education/Clinical nutrition / Self-care</td>
        <td class="m type04">Basic &amp; Translational Diabetes research (1)</td>
        <td class="m type03">Basic &amp; Translational Diabetes research (2)</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5" class="day">1<sup>st</sup> day (Friday 18 September, 2020)</td>
      </tr>
      <tr>
        <td>09:00 ~ 09:10</td>
        <td>Opening address</td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>09:10 ~ 11:10</td>
        <td class="type02"><span class="green">S1</span> Diabetic complications 1</td>
        <td class="type01"><span class="green">S2</span> Behavioral medicine / education<br><span class="red">(K)</span></td>
        <td class="type04"><span class="green">S3</span> Molecular metabolism</td>
        <td class="type03"><span class="green">S4</span> Integrated physiology</td>
      </tr>
      <tr>
        <td>11:10 ~ 11:30</td>
        <td colspan="5">Break</td>
      </tr>
      <tr>
        <td>11:30 ~ 12:00</td>
        <td>Plenary lecture 1</td>
        <td colspan="3" rowspan="3"></td>
      </tr>
      <tr>
        <td>12:00 ~ 12:30</td>
        <td>Plenary lecture 2</td>
      </tr>
      <tr>
        <td>12:30 ~ 12:50</td>
        <td><span class="green">AW1 </span> Sulwon award lecture</td>
      </tr>
      <tr>
        <td>12:50 ~ 13:10</td>
        <td>Satellite symposium 1</td>
        <td>Satellite symposium 2 <br><span class="red">(K)</span></td>
        <td>Satellite symposium 3</td>
        <td>Satellite symposium 4</td>
      </tr>
      <tr>
        <td>13:10 ~ 14:00</td>
        <td colspan="5">Break</td>
      </tr>
      <tr>
        <td>14:00 ~ 16:00</td>
        <td class="type02"><span class="green">S5 </span> Clinical diabetes and therapeutics 1</td>
        <td class="type01"><span class="green">S6 </span> Self-care<br><span class="red">(K)</span></td>
        <td><span class="green">SP1 </span> Debate session-SGLT2 inhibitor</td>
        <td><span class="green">CS1 </span> Committee of the health insurance and government relation session<br><span class="red">(K)</span></td>
      </tr>
      <tr>
        <td>16:00 ~ 16:20</td>
        <td colspan="5">Break</td>
      </tr>
      <tr>
        <td>16:20 ~ 18:20</td>
        <td class="type02"><span class="green">S7 </span> Diabetic complications 2</td>
        <td class="type01"><span class="green">S8 </span> Clinical nutrition<br><span class="red">(K)</span></td>
        <td class="type04"><span class="green">S9 </span> Diabetes technology</td>
        <td class="type03"><span class="green">S10 </span> Basic research</td>
      </tr>
    </tbody>
  </table>
  <table class="program" #table2>
    <colgroup>
      <col style="width:12%">
      <col style="width:22%">
      <col style="width:22%">
      <col style="width:22%">
      <col style="width:22%">
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th #th2>Channel A<div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 0)"></div>
        </th>
        <th>Channel B<div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 1)"></div>
        </th>
        <th>Channel C<div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 2)"></div>
        </th>
        <th>Channel D<div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 3)"></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5" class="day">2<sup>nd</sup> day (Saturday 19 September, 2020)</td>
      </tr>
      <tr>
        <td>08:30 ~ 08:50</td>
        <td>Satellite symposium 5</td>
        <td>Satellite symposium 6</td>
        <td>Satellite symposium 7</td>
        <td>Satellite symposium 8</td>
      </tr>
      <tr>
        <td>09:00 ~ 11:00</td>
        <td class="type02"><span class="green">S11</span> Clinical diabetes and therapeutics 2</td>
        <td class="type01"><span class="green">S12</span> Epidemiology &amp; genetics<br><span class="red">(K)</span></td>
        <td class="type04"><span class="green">S13</span> Metabolomics in metabolic disease </td>
        <td></td>
      </tr>
      <tr>
        <td>11:00 ~ 11:20</td>
        <td colspan="5">Break</td>
      </tr>
      <tr>
        <td>11:20 ~ 12:00</td>
        <td>Plenary lecture 3</td>
        <td colspan="3" rowspan="3"></td>
      </tr>
      <tr>
        <td>12:00 ~ 12:10</td>
        <td>Research contract</td>
      </tr>
      <tr>
        <td>12:10 ~ 12:30</td>
        <td><span class="green">AW2</span> Young investigator award lecture</td>
      </tr>
      <tr>
        <td>12:30-12:50</td>
        <td>Satellite symposium 9</td>
        <td>Satellite symposium 10</td>
        <td>Satellite symposium 11</td>
        <td></td>
      </tr>
      <tr>
        <td>12:50 ~ 13:30</td>
        <td colspan="5">Break</td>
      </tr>
      <tr>
        <td>13:30 ~ 15:30</td>
        <td><span class="green">RG1</span> AIBIS - beta cell research group of KDA joint session</td>
        <td><span class="green">RG2</span> Research group on diabetic neuropathy session<br><span class="red">(K)</span></td>
        <td><span class="green">CS2</span> Diabetes and metabolism journal session</td>
        <td><span class="green">RG3</span> Research group on fatty liver disease session<br><span class="red">(K)</span></td>
      </tr>
      <tr>
        <td>15:30 ~ 15:50</td>
        <td colspan="5">Break</td>
      </tr>
      <tr>
        <td>15:50 ~ 17:50</td>
        <td><span class="green">CS3</span> Diabetes prevention</td>
        <td><span class="green">RG4</span> Research group on diabetic vascular cell biology session<br><span class="red">(K)</span></td>
        <td><span class="green">SP2</span> Precision medicine</td>
        <td><span class="green">SP3</span> AI drug target<br><span class="red">(K)</span></td>
      </tr>
      <tr>
        <td>17:50 ~ </td>
        <td>Closing ceremony</td>
        <td colspan="3"></td>
      </tr>
    </tbody>
  </table>
</div>
