<div class="player-wrapper">
  <div class="player" [ngClass]="{'is-vod': !isLive}">
    <div class="left-wrapper" id="playerContainer" [ngStyle]="{'width':isLive?'70%':'100%'}" *ngIf="content && liveUrl">
      <!-- <video #videoPlayer id="videoJs" class="video-js vjs-big-play-centered vjs-default-skin">
      </video> -->
      <div class="only-iframe-wrapper">
        <iframe width="100%" height="100%" [src]="liveUrl" webkitallowfullscreen allowfullscreen frameborder="0"
          allow="autoplay; fullscreen"></iframe>
      </div>

    </div>
    <div class="right-wrapper" *ngIf="isLive">
      <div class="ad">
        <a class="ad-link">
          <img src="../../../assets/img/liveLogoCycle.gif" role="img" alt="sponsor logo">
        </a>
      </div>
      <div class="reply not-drag">
        <div class="reply-header">
          <a href="https://icdm2020.diabetes.or.kr/diabetes_icdm_2020/index.html" target="_blank">E-Book</a>
          <a [routerLink]="'/board'">FAQ</a>
        </div>
        <div class="reply-list">
          <div #commentList class="reply-history">
            <div class="reply-item" *ngFor="let reply of replys; let last = last">
              <div class="reply-user">{{reply?.member?.name}}</div>
              <div class="reply-content">
                {{reply.content}}
                <span *ngIf="check(reply)"><a (click)="delete(reply)" class="reply-delete">X</a></span>
              </div>
              <!-- {{last? downScroll():''}} -->
            </div>
          </div>
        </div>
        <form class="reply-form" [formGroup]="replyForm" (submit)="comment()">
          <label>[{{user.name}}]</label>
          <input class="form-control" type="text" placeholder="Submit your question on session."
            formControlName="content" />
          <hr>
          <div class="text-right">
            <!-- 0/200  -->
            <button class="btn btn-send" type="submit">SEND</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
