<div class="content-body">
  <div class="content-wrapper">
    <!-- LIVE session -->
    <div class="content-inner">
      <div class="title-wrapper">
        <h2 class="live">LIVE session</h2>
      </div>
      <div class="program-wrapper">
        <app-time-table></app-time-table>
      </div>
    </div>
    <!-- VOD session -->
    <div class="content-inner vod">
      <div class="title-wrapper">
        <h2 class="vod">VOD session<br class="d-block d-sm-none">
          <span class="vod-title-label"><i aria-hidden="true" class="icon-warning"></i><span class="slideX">본 세션은 평점이
              인정되지 않는 세션입니다.</span> </span>
        </h2>
      </div>
      <div class="program-wrapper">

        <table class="vod-table">
          <colgroup>
            <col style="width:20%">
            <col style="width:80%">
          </colgroup>
          <thead>
            <tr>
              <th>VOD Title</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>VOD 1</td>
              <td [routerLink]="'/vod'">
                Hot topic of diabetes epidemiology 1
              </td>
            </tr>
            <tr>
              <td>VOD 2</td>
              <td [routerLink]="'/vod'">
                Hot topic of diabetes epidemiology 2
              </td>
            </tr>
            <tr>
              <td>VOD 3</td>
              <td [routerLink]="'/vod'">
                International education course
              </td>
            </tr>
            <tr>
              <td>VOD 4</td>
              <td [routerLink]="'/vod'">
                Cardiovascular disease across the life course in diabetic women
              </td>
            </tr>
            <tr>
              <td>VOD 5</td>
              <td [routerLink]="'/vod'">
                Heterogenous adipose tissue and metabolic regulation
              </td>
            </tr>
            <tr>
              <td>VOD 6</td>
              <td [routerLink]="'/vod'">
                Diagnosis and management of diabetic peripheral neuropathy; where are we now and where to go
              </td>
            </tr>
            <tr>
              <td>VOD 7</td>
              <td [routerLink]="'/vod'">
                Mitochondrial dysfunction in diabetes and its complication
              </td>
            </tr>
            <tr>
              <td>VOD 8</td>
              <td [routerLink]="'/vod'">
                Beta cell generation and regeneration
              </td>
            </tr>
            <!-- <tr *ngFor="let vod of vods" (click)="goDetail(vod)">
              <td>{{vod.category.categoryName + vod.seq}}</td>
              <td class="vod-title">{{vod.title}}</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
