<div class="content-body">
  <app-banner></app-banner>
  <div class="content-wrapper login">
    <div class="content-inner">
      <div class="login-title">
        <div>
          Get access to ICDM2020.
        </div>
        <div>
          Login Now.
        </div>
      </div>
      <div class="login-form">
        <div class="input-wrapper">
          <label for="email">E-mail</label>
          <input name="email" type="text" id="email" [(ngModel)]="member.email" (keyup.enter)="login()" />
        </div>
        <div class="input-wrapper">
          <label for="password">Password</label>
          <input name="password" type="password" id="password" [(ngModel)]="member.password" (keyup.enter)="login()" />
        </div>
      </div>
      <!-- <div class="regist-button">
        <button [routerLink]="'../registration'">Registration</button>
      </div> -->
      <div class="submit-button">
        <button (click)="login()">LOGIN</button>
      </div>
    </div>
  </div>
</div>
