.content-body {

  .content-wrapper.login {
    padding-top: 0;
  }

  .login-title {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    color: var(--gray14);
    font-weight: bold;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 15px 78px;
    border-top: 1px solid var(--gray18);
    border-bottom: 1px solid var(--gray18);

    .input-wrapper {
      display: flex;
      flex-direction: column;
      color: var(--gray14);

      label {
        font-size: 16px;
        font-weight: bold;
      }

      input {
        font-size: 16px;
        padding-left: 8px;
        width: 550px;
        height: 40px;
        border: none;
        // root color에 없음. #F2F2F2와 color가 비슷한 색으로 대체
        background-color: var(--gray2);
      }

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px var(--gray2) inset;
      }

      input:focus {
        outline: 1px solid var(--gray14);
      }

      margin-bottom:8px;
    }
  }

  .regist-button button,
  .submit-button button {
    outline: var(--gray2);
    border: none;
  }

  .regist-button {
    margin: 0 auto;
    width: 600px;
    text-align: right;

    button {
      background: none;
      border: none;
      color: var(--gray16);
    }
  }

  .submit-button {
    display: flex;
    justify-content: center;
    margin-top: 62px;

    button {
      width: 160px;
      height: 40px;
      font-size: 14px;
      color: var(--white);
      background: var(--navy);
    }
  }
}

@media screen and (max-width : 767px) {
  .content-body {
    .login-form {
      .input-wrapper {

        input {
          width: 100%;
          min-width: 320px;
        }
      }
    }

    .submit-button {
      margin-top: 12%;
    }
  }
}
