.board-btn {
  position: fixed;
  width: 76px;
  height: 76px;
  right: 32px;
  bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--blue8);
  color: var(--white);
  font-size: 2rem;
  box-shadow: 2px 2px 4px RGBA(0,0,0,0.3);
  z-index: 999;
}
