<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="my-page-wrapper">
        <div class="title-wrapper">
          <h2>Hello! {{user.name}}</h2>
          <a (click)="logout()" class="login-status">Logout</a>
        </div>
        <article>
          <div class="my-page-inner personal-information">
            <h3>개인정보</h3>
            <div class="info-wrapper">
              <div class="info-inner">
                <span class="info-title">Name</span>
                <p class="info-desc">{{user.name}}</p>
              </div>
              <div class="info-inner">
                <span class="info-title">Password</span>
                <p class="info-desc">
                  <a class="email-change" data-toggle="modal" data-target="#changePassword">
                    비밀번호 변경하기
                  </a>
                </p>
              </div>
              <div class="info-inner">
                <span class="info-title">E-mail</span>
                <p class="info-desc">{{user.email}}</p>
              </div>
              <div class="info-inner" *ngIf="user.phone">
                <span class="info-title">Phone Number</span>
                <p class="info-desc">{{user.phone}}</p>
              </div>
              <div class="info-inner" *ngIf="user.organization">
                <span class="info-title">Organization</span>
                <p class="info-desc">{{user.organization}}</p>
              </div>
              <div class="info-inner" *ngIf="user.dept">
                <span class="info-title">Div./Dept.</span>
                <p class="info-desc">{{user.dept}}</p>
              </div>
              <div class="info-inner" *ngIf="user.position">
                <span class="info-title">Position</span>
                <p class="info-desc">{{user.position}}</p>
              </div>
              <div class="info-inner" *ngIf="user.title">
                <span class="info-title">Title</span>
                <p class="info-desc">{{user.title}}</p>
              </div>
              <div class="info-inner" *ngIf="user.country">
                <span class="info-title">Country</span>
                <p class="info-desc">{{user.country}}</p>
              </div>
              <div class="info-inner" *ngIf="user.address">
                <span class="info-title">Address</span>
                <p class="info-desc">{{user.address}}</p>
              </div>
            </div>
          </div>
          <div class="my-page-inner viewing-record" *ngIf="user.isLog">
            <div class="title-wrapper">
              <h3>나의 시청시간</h3>
              <span class="item-time-total">총 시청시간 :
                {{hour}}시간 {{min}}분
              </span>
              <span class="info">강의 시청시간은 Break time이 포함되지 않은 시간입니다.</span>
            </div>
            <div class="item-live" *ngFor="let history of histories">
              <div class="into-inner">
                <p class="item-title">
                  {{history.title}}
                </p>
                <p>
                  시청시간 : {{ history.watchTime }}분
                </p>
              </div>
              <div class="item-time-wrapper" *ngFor="let log of history.history">
                <span class="item-time">
                  <!-- 입장: {{history.date | date:('yyyy.MM.dd (E)') }} {{log.in}} -->
                  입장: {{log.in}}
                </span>
                <span class="item-time">
                  <!-- 퇴장: {{history.date | date:('yyyy.MM.dd (E)') }} {{log.out}} -->
                  퇴장: {{log.out}}
                </span>
              </div>
            </div>
          </div>
          <div class="my-page-inner stamp-tour" *ngIf="user.isLog">
            <h3>스탬프투어</h3>
            <div class="info-inner">
              <div class="stamp-list row m-0">
                <div class="stamp-item px-2" [ngClass]="{'opacity': booth.visit}" *ngFor="let booth of booths">
                  <img class="spon-logo" [ngClass]="{'opacity': booth.visit}" [src]="booth.photoUrl" alt="sponsor.name">
                  <img *ngIf="booth.visit" class="stamp-icon" src="assets/img/stamp.png" alt="스템프이미지">
                </div>
              </div>
            </div>
          </div>
          <div class="stamp-info" *ngIf="user.isLog">
            ** 스탬프 투어 이벤트 당첨자는 학술대회 종료 후 대한당뇨병학회 홈페이지에 게시될 예정입니다. 많은 참여 바랍니다.
          </div>

        </article>
      </div>
    </div>
  </div>
</div>

<!-- 비밀번호 변경 -->
<div class="modal changePassword fade" id="changePassword" data-backdrop="static" role="dialog"
  aria-labelledby="changePassword" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          비밀번호 변경
        </div>
        <div class="modal-description">
          <p>
            변경할 비밀번호를 입력해 주세요.
          </p>
        </div>
        <div class="input-form">
          <label for="password-new">새로운 비밀번호</label>
          <input type="password" id="password-new" [(ngModel)]="PASSWORD_NEW">
        </div>

        <div class="input-form">
          <label for="password-new-confirm">새로운 비밀번호 확인</label>
          <input type="password" id="password-new-confirm" [(ngModel)]="PASSWORD_CONFIRM">
        </div>

        <div class="submit-button">
          <button type="button" class="btn btn-block confirm-btn" (click)="changePassword()">
            비밀번호 변경
          </button>
          <button class="cancel" data-toggle="modal" data-target="#changePassword" (click)="cancelChangePwd()">
            취소
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
