<div class="content-body">
  <app-banner></app-banner>

  <section class="about">
    <app-about [opt]="true"></app-about>
  </section>

  <section class="program">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2><span class="welcome-title-image"></span>Programs</h2>
      </div>
    </div>
    <div class="content-inner">
      <div class="row m-0 sub-title-wrapper">
        <div class="col-md-6 p-0">
          <h3>Live Session</h3>
        </div>
        <div class="col-md-6 p-0 text-right">
          <a class="download" href="https://icdm2020.diabetes.or.kr/diabetes_icdm_2020/index.html#page=1"
            target="_blank">
            <i class="icon-book" aria-hidden="true"></i>
            <span>ICDM_excerpt collection</span>
            <i class="icon-download" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="timetable-wrapper">
        <app-time-table></app-time-table>
      </div>
    </div>
  </section>

  <section class="speaker">
    <div class="content-wrapper">
      <div class="content-inner">
        <div class="title-wrapper">
          <h2><span class="welcome-title-image"></span>Speakers</h2>
        </div>
      </div>

      <div class="content-inner">
        <div id="speakerList" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let speakersItem of speakers; let i = index;"
              [ngClass]="{'active' : i === 0}">
              <div class="speaker-item row m-0">
                <div class="p-2" [ngClass]="mobile? 'col-6': 'col-3'" *ngFor="let speaker of speakersItem">
                  <app-speaker [hidden]="!speaker" [speaker]="speaker"></app-speaker>
                </div>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev slider-btn prev" href="#speakerList" role="button" data-slide="prev">
            <span class="icon-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next slider-btn next" href="#speakerList" role="button" data-slide="next">
            <span class="icon-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="btn-wrapper text-center">
          <button class="content-link view-more" [routerLink]="'/speakers'">
            <span>더보기</span>
            <i class="icon-more" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="e-booth">
    <div class="content-wrapper">
      <div class="content-inner">
        <div class="title-wrapper">
          <h2>E-booth</h2>
        </div>
        <article>
          <div class="e-booth-banner">
            <img src="assets/img/e-booth/booth0/banner-main.png" alt="e-booth banner">
          </div>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" *ngFor="let booth of booths">
              <div class="e-booth-btn" role="button" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
                (click)="getDetail(booth)">
                <figure>
                  <img [src]="booth.photoUrl" alt="{{booth.name}}">
                </figure>
              </div>
            </div>
          </div>
          <div class="btn-wrapper">
            <a class="content-link view-more" [routerLink]="'/e-booth'">
              <span>더보기</span>
              <i class="icon-more" aria-hidden="true"></i>
            </a>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>

<!-- e-booth modal -->
<div class="modal detail-modal fade" id="e-boothModal" tabindex="-1" role="dialog" aria-labelledby="e-boothModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="e-booth">
          <div class="image-wrapper">
            <img [src]="selectedBooth?.photoUrl || ''" alt="{{selectedBooth?.name || ''}}">
            <div class="item-info">
              <p class="item-name">{{selectedBooth?.name || ''}}</p>
              <!-- <a title="{{(selectedBooth?.name|| '') + ' 바로가기'}}" target="_blank" [href]="selectedBooth?." class="home-link">Go
                homepage</a> -->
            </div>
          </div>
          <div class="item-inner">
            <div class="attachments" *ngIf="attachments">
              <div>
                <a *ngFor="let attachment of attachments" class="download" target="_self" title="{{attachment.title}}"
                  [href]="attachment.contentUrl" download="{{attachment.title}}">
                  <i class="icon-clip"></i>
                  <span class="ellipsis">{{attachment.title}}</span>
                </a>
              </div>
            </div>
          </div>
        </figure>
        <div class="item-desc">
          <div class="iframe-wrapper" id="boothModalDesc"></div>
        </div>
      </div>
    </div>
  </div>
</div>
