<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div>
        <div class="title-wrapper">
          <h2>Plenary Lecture</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Plenary lecture']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Special Session</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Special session']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Award Session</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Award session']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Main Symposia</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Main symposia']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Committee Sessions</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Committee sessions']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Research Group And Committee Session</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Research group and committee session']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Satellite Symposia</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Satellite symposia']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>VOD Sessions</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Vod sessions']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>
        <!-- <div class="title-wrapper">
          <h2>Main Symposia</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'" *ngFor="let speaker of speakers">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>
        <div class="title-wrapper">
          <h2>Research Group and Committee session</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'" *ngFor="let speaker of speakers">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>
        <div class="title-wrapper">
          <h2>Special and Award Session</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'" *ngFor="let speaker of speakers">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>
        <div class="title-wrapper">
          <h2>Corporate Symposia</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'" *ngFor="let speaker of speakers">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article> -->
      </div>
    </div>
  </div>
</div>
