<div class="agenda-wrapper" *ngIf="agenda" [ngClass]="{'is-live' : isLive}">
  <!-- <div class="content-inner agenda-item" (click)="detailFn.emit(agenda)"> -->
  <div class="content-inner agenda-item">
    <div class="lt">
      <div class="time">
        <span *ngIf="agenda.startTime">{{agenda.startTime}}</span>
        <span *ngIf="agenda.endTime">~{{agenda.endTime}}</span>
      </div>
      <div class="live" *ngIf="isLive">LIVE</div>
    </div>
    <div class="rt">
      <div class="category" *ngIf="agenda.category">
        {{agenda.category.categoryName}}
      </div>

      <div class="room" *ngIf="agenda.room">
        <!-- <span *ngIf="agenda.room.roomName">{{agenda.room.roomName}}</span> -->
        <!-- <span *ngIf="agenda.room.roomName && agenda.track && agenda.track.trackName"> | </span> -->
        <span *ngIf="agenda.track && agenda.track.trackName">{{agenda.track.trackName}}</span>
      </div>

      <div class="title" *ngIf="agenda.title">
        <h2 class="m-0">{{agenda.title}}</h2>
      </div>

      <div class="chair" *ngIf="agenda.chairs && agenda.chairs.length">
        Chair:
        <span *ngFor="let chair of agenda.chairs;let i = index">
          {{chair.name}}<span *ngIf="agenda.chairs[i+1]">,</span>
        </span>
      </div>

      <div class="organizers" *ngIf="agenda.organizers && agenda.organizers.length">
        Organizers:
        <span *ngFor="let organizer of agenda.organizers;let i = index">
          {{organizer.name}}<span *ngIf="agenda.organizers[i+1]">,</span>
        </span>
      </div>

      <div class="organizers" *ngIf="agenda.speakers && agenda.speakers.length">
        <span *ngFor="let speaker of agenda.speakers;let i = index">
          <span class="organizers-fullName">{{speaker.fullName}}</span><br>
          {{speaker.company}}<span *ngIf="agenda.speakers[i+1]">,</span><br>
        </span>
      </div>

      <div class="description" *ngIf="agenda.description" [innerHTML]="agenda.description">
      </div>

      <div class="lectures" *ngIf="agenda.lectures && agenda.lectures.length">
        <app-program-vod *ngFor="let lecture of agenda.lectures" [vod]="lecture"></app-program-vod>
      </div>

    </div>
  </div>
</div>
