/* 메인업체 */

.content-body {
  position: relative;
  padding-top: 68px;

}

.flag-wrapper {
  display: none;
  position: absolute;
  top: 0;
  justify-content: space-between;
  margin: auto;

  &.bottom {
    position: static;
    justify-content: center;
    margin-top: -4%;

    .flag-bottom {
      height: 155px;

      img {
        max-height: 100%;
      }
    }

  }

  span {
    display: inline-block;
    width: 25%;
  }

  .flag-left {
    margin-left: -46%;
  }

  .flag-right {
    margin-right: -46%;
  }

}

.content-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}

.bg-e-booth {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

article {
  position: relative;
}

.e-booth-banner {
  position: relative;
  margin: 0 auto;

}

.e-booth-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div[class*="spon"] button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}


/* 다이아몬드 */

.booth-0 {
  position: relative;
  z-index: 2;
  height: 1557px;
  background-image: url(/assets/img/e-booth/booth0/bg.png);

  .e-booth-banner {
    // max-width: 822px;
    // max-width: 42.8%;
    width: 45%;
    margin-bottom: 255px;
  }

  .flag-wrapper {
    display: flex;
  }

  .booth0-spon {
    max-width: 50%;
  }
}

/* 플래티넘 */

.booth-1 {
  position: relative;
  height: 1409px;
  margin-top: -104px;
  background-image: url(/assets/img/e-booth/booth1/bg.png);

  .e-booth-banner {
    top: 70px;
    width: 35.1%;
    margin-bottom: 42px;
  }

  .booth1-spon {
    // max-width: 782px;
    max-width: 40.73%;


    &:nth-child(1) {
      margin-right: -4%;
    }

    &:nth-child(2) {
      margin-left: -4%;
    }

    /* 3번째부터 계속 적용 */
    &:nth-child(n+3) {
      margin-top: -10%;
      max-width: 38.8%;
    }

    /* 4번째부터 + 3 ex) 4,7,10... 적용 */
    &:nth-child(3n+4) {
      max-width: 40.73%;

    }

    /* 3번,4번째부터 + 3 ex) 3,4,6,7,9,10.. 적용 */
    &:nth-child(3n+4),
    &:nth-child(3n+5) {
      margin-left: -9.2%;
    }
  }
}

/* 골드 */

.booth-2 {
  height: 1480px;
  margin-top: -68px;
  background-image: url(/assets/img/e-booth/booth2/bg.png);

  .e-booth-banner {
    width: 35.1%;
    margin-bottom: 42px;
  }

  .e-booth-wrapper {
    margin-top: 7.5%;

    &>div {
      margin-bottom: 40px;
    }
  }

  .booth2-spon {
    max-width: 21.7%;
    // max-width: 417px;
  }
}

article {
  margin-top: 0;
  padding: 0;

  h3 {
    margin-bottom: 30px;
  }
}

/* 메인업체 모달 */
figure.e-booth {
  padding: 6px 0;
  font-size: 1.33rem;
  color: var(--gray14);

  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px 18px;

    img {
      max-height: 100%;
    }
  }

  figcaption {
    padding: 16px 0;
  }
}

.item-info {

  h3 {
    margin-bottom: 16px;
  }

}

.modal.detail-modal {

  .modal-body {

    overflow: auto;
  }

  /* modal content */
  figure {
    display: flex;
    position: relative;
    padding: 24px;
    max-height: 100%;
    margin: 0;
    text-align: center;

    .photo {
      display: flex;
    }

    .image-wrapper {
      display: flex;
      flex: 0 0 36%;
      align-self: center;
      max-width: 36%;
      min-height: 13vh;
      max-height: 100%;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }

  a {
    display: block;
  }

  .item-info {
    position: absolute;
    left: 37%;
    top: 24px;
    flex-basis: auto;
    min-width: 200px;
    min-height: 80px;
    font-size: 1.33rem;
    text-align: left;

    .home-link {
      margin-bottom: 28px;
      color: var(--gray22);
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;

      &:hover {
        color: var(--blue8);
        text-decoration: underline;

      }
    }

    >p {
      font-size: 1.25rem;
    }

    .item-name {
      margin-bottom: 8px;
      font-size: 1.33rem;
      font-weight: bold;
      text-align: left;
    }
  }

  .item-inner {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .attachments {
    // 반응형작업을 위해 구조상 item-info를 강제로 위로 올렸기 때문에 하단에 attachments에 패딩 상단 값은 item-info height값이다.
    // 만약에 item-info에 내용이 변경되면 패딩값을 변경해야한다.
    padding-top: 80px;
    color: var(--gray22);
    font-size: 1.33rem;
    text-align: left;

  }

  .download {
    display: inline-flex;
    min-width: 137px;
    margin-top: 8px;
    margin-right: 8px;
    padding: 8px;
    color: var(--gray22);
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    border: 1px solid var(--gray10);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    &:hover {
      color: var(--blue8);
      font-weight: 600;
      text-decoration: underline;
    }

    /*클립아이콘*/
    .icon-clip {
      display: inline-block;
      vertical-align: middle;
      width: 11px;
      height: 22px;
      margin-right: 8px;
      background-image: url('/assets/img/icon-clip.png');
      background-size: contain;
      background-repeat: no-repeat;
    }

    .ellipsis {
      max-width: 65px;
      padding-left: 5px;

      &:first-child {
        padding-left: 0;
      }
    }

  }

  .item-desc {
    display: flex;
    justify-content: center;
    padding: 0 24px;
    font-size: 1.33rem;

    &>p {
      margin-bottom: 0;
      word-break: break-all;
    }

    .image-item {
      margin-right: 16px;
    }
  }

}


/* 레귤러 업체 리스트 (스폰서 일반)*/

.content-inner {
  max-width: 1600px;
  padding-top: 80px;
}

.list-wrapper {

  .list-item {
    flex: 0 0 20%;
    max-width: 20%;
    max-height: 300px;
    margin-bottom: 40px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
}


/* 스템프투어 당첨 이벤트 모달 */

.win-alert-btn {
  display: none;
}

.win-alert {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 32px;
    width: 516px;
    max-width: 90%;
    background: var(--gray19);

    .modal-title {
      color: var(--white);
      font-size: 1.6rem;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--white);
    }

    .modal-description {
      padding: 16px 0;

      label {
        font-size: 1.5rem;
        color: var(--yellow1);
      }

      p {
        padding: 8px 0;
        font-size: 1.5rem;
        color: var(--white);
      }

      .example {
        font-size: 1.0rem;
      }

      .ask-confirm {
        display: flex;
        place-content: center;
        font-size: 1.0rem;
      }
    }

    .confirm-btn {
      height: 50px;
      color: var(--white);
      font-size: 1.0rem;
      font-weight: 600;
      border-radius: 25px;
      background: var(--blue5);

      &.in {
        background: var(--blue5);
      }

      &.out {
        background: var(--red);
      }
    }
  }
}


@media (max-width: 1600px) {
  .content-wrapper {
    height: 100%;
    padding-bottom: 10%;
  }
}

@media (max-width: 1025px) {
}

@media (max-width: 1024px) {
  figure {
    flex-wrap: wrap;
  }

  .content-body {
    .list-wrapper {
      padding: 0;

      .list-item {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }

  .modal.detail-modal .item-info {

    min-height: 15vh;
  }
}

@media (max-width: 991px) {

  .modal.detail-modal .item-inner {
    flex: none;
    max-width: 100%;
  }

  .modal.detail-modal .attachments {
    width: 100%;
    min-width: 300px;
    padding-top: 0;

    .download {
      max-width: 270px;
    }

    .ellipsis {
      display: inline-block;
      width: 100%;
      max-width: 90%;
      vertical-align: middle;
    }
  }


}


@media (max-width: 768px) {

  .flag-wrapper {
    position: static;
    // justify-content: space-between;

    span {
      position: relative;
      width: 20%;
      height: 30vh;


      &>img {
        position: absolute;
        max-height: 100%;

      }
    }

    .flag-left {
      margin: 0;

      img {
        left: 0;
      }
    }

    .flag-right {
      margin: 0;

      img {
        right: 0;
      }
    }

    // .flag-left {margin-left: -2%;}
    // .flag-right {margin-right: -2%;}
  }

  .booth-0 .booth0-spon,
  .booth-1 .booth1-spon {
    max-width: 100%;
    margin: 0;
  }

  .booth-0 .e-booth-banner {
    margin-bottom: 0;
  }

  .booth-0 .e-booth-banner,
  .booth-1 .e-booth-banner,
  .booth-2 .e-booth-banner {
    width: 90%;
  }

  .booth-0 {

    .booth0-spon {
      margin-bottom: -10%;
    }

    .flag-wrapper.bottom {
      display: none;
    }

  }

  .booth-1 {

    .booth1-spon {
      margin-bottom: -10%;

      &:nth-child(1) {
        margin-right: 0;
      }

      &:nth-child(2) {
        margin-left: 0;
      }

      &:nth-child(3) {
        margin-left: 5%;
      }

      &:nth-child(n+2) {
        margin-top: -20%;
      }

      &:nth-child(n+3) {
        max-width: 100%;
      }

      &:nth-child(3n+4) {
        max-width: 100%;

      }

      &:nth-child(5) {
        margin-left: -6%;
      }

      &:nth-child(3n+4) {
        margin-left: 0;
      }
    }

  }

  .booth-2 {

    .e-booth-wrapper {

      &>div {
        margin-bottom: 0;
      }
    }

    .booth2-spon {
      max-width: 44%;
    }

  }

  .modal.detail-modal figure .image-wrapper {
    min-width: 117px;
    height: unset;

    img {
      max-height: 100%;
    }
  }

  .modal.detail-modal .download {
    display: block;
    max-width: 100%;
  }

  .sponsor-wrapper {
    figure {
      .image-wrapper {
        height: 74px;
      }
    }
  }

  .content-body {

    .list-wrapper {

      .list-item {
        flex: 0 0 33.33%;
        max-width: 33.3%
      }
    }
  }
}

@media (max-width: 575px) {

  .content-body {

    .list-wrapper {

      .list-item {
        flex: 0 0 50%;
        max-width: 50%
      }
    }
  }

  .modal.detail-modal .item-info {

    .item-name {
      word-break: break-all;
    }
  }

}


@media (max-width: 414px) {

  .modal.detail-modal .item-info {
    max-width: 137px;
    min-width: unset;

  }

  .modal.detail-modal .download {
    display: block;
    max-width: 100%;
  }
}

@media (max-width: 360px) {

  .modal.detail-modal figure .item-info {
    left: 133px;
  }

  .modal.detail-modal .attachments {
    min-width: 260px;
  }

}

