<div class="program-nav-wrapper not-drag">
  <div class="program-nav-title">Day</div>
  <div class="program-nav-list days">
    <div class="content-inner">
      <div class="program-nav-item" *ngFor="let date of dates" [ngClass]="{'active': selected?.date?.id === date.id}"
        (click)="selected?.date?.id !== date.id ? setDateFn.emit(date) : ''">
        {{date.date}}
      </div>
    </div>
  </div>
  <div class="program-nav-title">Channel</div>
  <div class="program-nav-list channels">
    <div class="content-inner">
      <div class="program-nav-item" *ngFor="let room of rooms" [ngClass]="{'active': selected?.room?.id === room.id}"
        (click)="selected?.room?.id !== room.id ? setRoomFn.emit(room) : ''">
        {{room.roomName}}</div>
    </div>
  </div>
</div>
