/* You can add global styles to this file, and also import other style files */
@import "./assets/icon-font.css";

:root {
  --white: #FFF;
  --black: #000;
  --red: #FF0000;
  --pink: #FFE9E2;
  --pink2: #FFF2E8;
  --navy: #00213E;
  --navy2: #121652;
  --blue1: #F3FAFF;
  --blue2: #68B9FF;
  --blue3: #678AFF;
  --blue4: #0091BE;
  --blue5: #0077FF;
  --blue6: #0000FF;
  --blue7: #2B79D9;
  --blue8: #0053FA;
  --blue9: #0083AC;
  --blue10: #0089FF;
  --bluegray: #7C8C9B;

  --yellow1: #FFE600;
  --yellow2: #FFAA00;

  --orange: #FFF2E8;

  --gray1: #FAFAFA;
  --gray2: #F3F3F3;
  --gray3: #1f1c1c;
  --gray4: #EEEEEE;
  --gray5: #E9E9E9;
  --gray6: #DFDFDF; // #DCDCDC
  --gray7: #C8C8C8;
  --gray8: #D8D8D8;
  --gray9: #BCBCBC;
  --gray10: #8C8C8C; // #8E8E8E
  --gray11: #787878; // #757575
  --gray12: #6E6E6E;
  --gray13: #636363;

  --gray14: #333;
  --gray15: #666;
  --gray16: #888;
  --gray17: #AAA;
  --gray18: #DDD;

  --gray19: #565656;
  --gray20: #7d8d9c;
  --gray21: #C7C7C7;

  --green: green;
}

body,
html {
  margin: 0;
  height: 100%;
  font-size: 12px;

  @media (max-width: 767px) {
    & {
      font-size: 10px;
    }
  }
}

ul,
ol,
li {
  list-style: none;
}

a,
button {
  border: none;
  background: none;
  outline: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  cursor: pointer;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

/* wrapper, inner*/
.content-body {
  width: 100%;
  min-height: calc(100% - 120px);
  padding-top: 68px;
  background: var(--gray1);
  box-sizing: border-box;
}

.content-wrapper {
  padding: 80px 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;

  // welcome innerHTML style
  .about {
    p>img:first-child {
      margin-right: 40px;

      @media (max-width: 850px) {
        & {
          margin-bottom: 16px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    & {
      padding: 40px 0;
    }
  }
}

.content-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;

  @media (max-width: 767px) {
    & {
      padding: 0 16px;
    }
  }
}

// 공통 타이틀박스
.title-wrapper {
  margin: 0 0 40px 0;
  border-bottom: 1px solid var(--gray9);

  &.center {
    text-align: center;
  }

  h2 {
    margin-bottom: 16px;
    font-weight: bold;
  }
}

/* 말줄임 표시 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;

  // 두줄일때
  &.line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
  }

  // 네줄일때
  &.line-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    white-space: normal;
  }
}


/* Player */
.vjs-vimeo {
  z-index: 10;
}

/* modal */
.modal.detail-modal {
  overflow: hidden;
  background: RGBA(0, 0, 0, .5);

    .modal-header {
      position: relative;
      z-index: 99;
      padding: 0;
      border: 0;
      background: transparent;

      .item-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 16px;
        right: 16px;
        width: 2.62rem;
        height: 2.62rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
        border: none;

        .icon-close-w {
          font-size: 1rem;
        }
      }

    }

    .modal-body {
      overflow: scroll;
      max-height: 98vh;
      background: var(--white);
    }
}


/* Iframe */

.iframe-wrapper {
  max-width: 640px;
  min-width: 100%;
  padding: 8px;
  text-align: center;

  p {
    text-align: left;
    word-break: break-all;
  }

  & iframe {
    width: 100%;
    height: auto;
    min-height: 30vh;
  }
}

.only-iframe-wrapper {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/* Search Wrapper */

.search-wrapper {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;

  .select-box {
    display: inline-block;
    width: 150px;
    height: 40px;
    padding-right: 32px;
    font-size: 1.2rem;
    border: 1px solid var(--gray10);
    background: url('/assets/icons/select_arrow.svg');
    background-size: 9px ;
    background-position: calc(100% - 16px) center;
    background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: none;
  }

  .search-input {
    display: inline-block;
    width: 380px;
    height: 40px;
    margin-left: 16px;
    padding-left: 40px;
    font-size: 1.2rem;
    border: 1px solid var(--gray10);
    background: url('/assets/icons/search-icon.svg');
    background-size: 20px ;
    background-position: 12px center ;
    background-repeat: no-repeat ;
    background-color: #fff ;
    box-shadow: none;
  }

  @media(max-width: 767px) {
    height: 36px;

    .select-box {
      width: 130px;
      height: 36px;
      font-size: 1.1rem;
    }

    .search-input {
      width: 100%;
      max-width: 314px;
      height: 36px;
      padding-left: 40px;
      font-size: 1.1rem;
    }
  }

  @media(max-width: 575px) {
    height: 80px;

    .select-box {
      width: 100%;
    }

    .search-input {
      max-width: inherit;
      margin-left: 0;
    }
  }
}

/* 공통 스타일 클래스 */
.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.p-0 {
  padding: 0;
}

.not-drag {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
