<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper mb-0">
        <h2 class="vod">Video On Demand<br class="d-block d-sm-none">
          <span class="vod-title-label"><i aria-hidden="true" class="icon-warning"></i><span class="slideX">본 세션은 평점이
              인정되지 않는 세션입니다.</span> </span>
        </h2>
      </div>
    </div>

    <article>
      <div class="content-inner" *ngIf="vod">
        <app-player [content]="vod" [isLive]="false"></app-player>
        <app-program-vod [vod]="vod"></app-program-vod>

        <div class="banners-wrapper">
          <div class="banners-btn banners-prev" (click)="slidePrev('bannerSlider')">
            <img src="assets/img/ic_dropdown_class_up.png">
          </div>
          <ng-image-slider #bannerSlider [infinite]="true" [imagePopup]="false" [autoSlide]="2" [animationSpeed]="0"
            [images]="banners" [imageSize]="{ width: slideItemW, height: 87, space: 0 }" [manageImageRatio]="true"
            [showArrow]="false" (imageClick)="imageClick($event)">
          </ng-image-slider>
          <div class="banners-btn banners-next" (click)="slideNext('bannerSlider')">
            <img src="assets/img/ic_dropdown_class_up.png">
          </div>
        </div>

        <div class="back-to-list">
          <button (click)="goBack()">BACK TO LIST</button>
        </div>
      </div>
    </article>
  </div>
</div>
