.live-player {
  .live-info {
    padding: 16px;
    border: 1px solid var(--gray4);
    box-sizing: border-box;
    background: var(--white);

    .live-agenda {
      .category {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 1.5rem;
      }

      .title {
        font-size: 1.4rem;
        color: var(--black);
      }
    }

    .btn-atndn-check {
      width: 160px;
      height: 34px;
      border-radius: 11px;
      color: var(--white);
      outline: none;

      &.in {
        background: var(--blue5);
      }

      &.out {
        background: var(--red);
      }
    }
  }
}

.program-agendas {
  margin-top: 60px;
  padding-bottom: 100px;
  border-top: 1px solid var(--gray7);
}

.entry-alert-btn {
  display: none;
}

.entry-alert {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 32px;
    width: 500px;
    max-width: 90%;
    background: var(--gray19);

    .modal-title {
      padding-bottom: 8px;
      color: var(--white);
      font-size: 2.1rem;
      border-bottom: 1px solid var(--white);
    }

    .modal-description {
      padding: 16px 0;

      label {
        font-size: 1.3rem;
        color: var(--yellow1);
      }

      p {
        padding: 8px 0;
        font-size: 2.1rem;
        color: var(--white);
      }
    }

    .confirm-btn {
      height: 50px;
      color: var(--white);
      font-size: 1.3rem;
      font-weight: 600;
      border-radius: 25px;
      background: var(--blue5);

      &.in {
        background: var(--blue5);
      }

      &.out {
        background: var(--red);
      }
    }
  }
}
